
#container {
    //background: url("/build/img/background.jpg") top no-repeat fixed;
    //background-size: cover;

    div.wb_image {

    }
    .wb_Picture {
        display: block;
        text-align: center;
        img {
          width: 300px;
        }
    }
}

.wb_Heading {
    background: #f2f2f2;
    padding: 2%;
    text-align: center;
    h1.Heading {
        font-weight: bold;
        //font-size: 32px;
        font-size: 2.2em;
        background: #f2f2f2;
    }
}
.wb_Heading-sm {
    background: #cacaca;
    padding: 1%;
    text-align: center;
    h1.Heading-sm{
        font-weight: bold;
        font-size: 22px;
    }
}

hr.line {
    height: 10px;
    background-color: #FF7F50;
    border: none;
}

hr.line-sm {
    height: 5px;
    background-color: #FF7F50;
    border: none;
}

.Article {
    line-height: 1.2;
    text-align: justify;
    padding: 10px 20%;
    .blogitem {
        color: #fff;
        p{
            text-align: right;
            font-size: 20px;
        }
        span {

          font-family: ms shell dlg, serif;
          font-size: 16px;
          font-weight: 100;
          font-style: italic;
        }
    }
    p{
        color: #fff;
        font-size: 1.5em;
    }
}


.Article .blogsubject {
  display: block;
}
#googleMap{
    width:100%;
    height:40vh;
}

section.education{
    color: #fff;
    div.wb_course{
        //width: 45%;
        //height: 50vh;
        overflow: hidden;
        //display: inline-block;
        vertical-align: top;
        background: rgba(0,0,0,.5);
        padding: 20px;
        margin: 2%;
        @media screen and (max-width: 770px){
            display: block;
            width: 95%;
        }
        //&::after{
        //    content: 'развернуть';
        //    color: #fff;
        //    position: relative;}
        .hidden{
            display: none;
        }
        h4{
            text-transform: uppercase;
            color: #fff;
        }
        p{
            text-align: justify;
            ul{
                list-style: element;
                text-align: left;
            }
            span.cap{
                color: #FF7F50;
                font-size: 1.5em;
            }
        }
        a.expand{
            display: block;
            padding: 2px;
            margin: 20px -20px -20px -20px;
            background: rgba(255,255,255,.6);
        }

    }
}
section.prices{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    p{
        padding: 1em 5em;
    }
    table{
        text-align: left;
        border: 1px solid #fff;

        width: 80%;
        margin: 1em auto;
        border-collapse: collapse;

        tr{
            border: 1px solid #fff;
            td{
                border: 1px solid #fff;
                width: 50%;
                padding: 0.5em;

                &:first-child{
                    text-align: right;
                }
            }
        }
    }
}
section.about{
    p{
        color: #fff;
        font-size: 1.5em;
    }
    div.wb_Heading-sm{
        background: #f2f2f2;

    }
}

section.work_exapmles{
    padding: 1%;
    font-size: 1.5em;
    color: #fff;
    div.tabname{
        display: inline-block;
        width: 50%;
        vertical-align: middle;
        span{
            padding: 5px;
            cursor: pointer;

        }
    }
    div.collage {
        margin-top: 2%;
        padding: 2%;
        border-top: 2px solid #fff;

        column-count: 3;
        column-gap: 20px;
        @media screen and (max-width: 770px) {
            column-count: 2;
            column-gap: 15px;
        }
        @media screen and (max-width: 480px) {
            column-count: 1;
            column-gap: 10px;
        }
        text-align:justify;
        img{
            width: 100%;
        }
        .collage-col{
            width: 30%;
            display: inline-block;

            img{
                width: 100%;
                height: auto;
                //vertical-align: middle;
                display: flex;
                flex-wrap: wrap;
                //float: left;
            }
        }
    }

}
section.news{
    article{
        color:#fff;
        margin: 2%;
        padding: 1%;
        background: rgba(0,0,0,.5);
        border-radius: 10px;
        text-align: left;
        header{
            font-size: 1.5em;
        }
        div.annotation{
            div{
                display: inline-block;
                vertical-align: top;
                font-size: 1.2em;
                word-wrap: break-word;
                p{
                    display: inline;
                }

            }
            div:first-child{
                width: 80%;
            }
            div.img{
                width: 19%;
                height: auto;
                //float: right;
                border: 3px solid #fff;
                img{
                    max-width: 100%;
                    height: auto;
                }

            }

        }
        a{
            text-decoration: underline;
        }

    }
}