#container {
    //background: url("/build/img/background.jpg") top no-repeat fixed;
    //background-size: cover;

    div.wb_image {

    }
    .wb_Picture {
        display: block;
        text-align: center;
        img {
          width: 200px;
        }
    }
}

.wb_Heading {
    background: #f2f2f2;
    padding: 2%;
    text-align: center;
    h1.Heading {
        font-weight: bold;
        font-size: 32px;
        background: #f2f2f2;
    }
}

hr.line {
    height: 10px;
    background-color: #FF7F50;
    border: none;
}


.Article {
    line-height: 1.2;
    text-align: justify;
    padding: 10px 20%;
    .blogitem {
        color: #fff;
        p{
            text-align: right;
            font-size: 20px;
        }
        span {

          font-family: ms shell dlg, serif;
          font-size: 16px;
          font-weight: 100;
          font-style: italic;
        }
    }
}


.Article .blogsubject {
  display: block;
}
section.education{
    color: #fff;
    div.wb_course{
        //width: 45%;
        //height: 50vh;
        overflow: hidden;
        //display: inline-block;
        vertical-align: top;
        background: rgba(0,0,0,.5);
        padding: 20px;
        margin: 2%;
        @media screen and (max-width: 770px){
            display: block;
            width: 95%;
        }
        //&::after{
        //    content: 'развернуть';
        //    color: #fff;
        //    position: relative;}
        .hidden{
            display: none;
        }
        h4{
            text-transform: uppercase;
            color: #fff;
        }
        p{
            text-align: justify;
            ul{
                list-style: element;
                text-align: left;
            }
            span.cap{
                color: #FF7F50;
                font-size: 1.5em;
            }
        }
        a.expand{
            display: block;
            padding: 2px;
            margin: 20px -20px -20px -20px;
            background: rgba(255,255,255,.6);
        }

    }
}