div.page-footer {
    background-color: #424242;
    padding: 10px ;

    box-shadow:0 -1px 2px #fff;
    @media screen and (min-width: 760px){
        position: fixed;
        left:0;
        right:0;
        bottom:0;
    }
}
.wb_FontAwesomeIcon{
    display: inline-block;
    background-color: #2C3E50;
    border: 2px #FFFFFF solid;
    border-radius: 50%;
    vertical-align: middle;
    width: 20px;
    height:20px;
    padding: 15px;
    transition: transform 500ms linear;
    &:hover{
        background-color: #FFFFFF;
        transform: rotate(360deg);
        transition: transform 500ms linear;
        cursor: pointer;
        i{
            color: #18BC9C;
        }
    }
}
.FontAwesomeIcon{
    color: #FFFFFF;
    display: inline-block;
    width: 20px;
    margin: auto 0;
    margin-left: -4px;
    i{
        margin: 5px;
        position: relative;
        font-size: 16px;

    }

}

.wb_adress{
    float: right;
    display: inline-block;
    text-align:center;
    vertical-align: middle;
    @media screen and (max-width: 760px){
        display: block;
    }
    span{
        color:#FF7F50;
        font-size:14px;
        word-wrap: break-word;
        @media screen and (max-width: 760px){
            font-size:12px;
        }
    }
}
.tel{
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    float: left;
    @media screen and (max-width: 760px){
        display: block;
    }
    span{
        color:#FF7F50;
        font-family: ms shell dlg, serif;
        font-size:16px;
        @media screen and (max-width: 760px){
            font-size:14px;
        }
    }
}
