*{
  margin: 0;padding: 0;
  font-family: sans-serif, "Open Sans", "Courier New", Roboto, Verdana, Arial;
  box-sizing: border-box;
}

body {
  background: url("/build/img/background.jpg") top no-repeat fixed;
  background-size: cover;
  //background-color: #f2f2f2;
  //color: #000;
  font-weight: normal;
  font-size: 13px;
  //line-height: 1.1875;
  text-align: center;
  padding-top: 60px;
}
a{
  text-decoration: none;
  &:visited  {
    color: #800080;
  }
  &:active{
    color: #FF0000;
  }
  &:hover{
    color: #0000FF;

  }
}

h1{
  font-weight: bold;
  font-size: 32px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
h2{
  font-weight: bold;
  font-size: 27px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
h3{
  font-weight: normal;
  font-size: 24px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
h4{
  font-weight: normal;
  font-size: 21px;
  font-style: italic;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
h5{
  font-weight: normal;
  font-size: 19px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
h6{
  font-weight: normal;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  background-color: transparent;
  display: inline;
}
.CustomStyle{
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #2E74B5;
  background-color: transparent;
}
.Active_Button{
  font-weight: bold;
  font-size: 19px;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF7F50;
  border: 5px #FF4500 solid;
  border-radius: 1px;
}
.Passive_button{
  font-weight: bold;
  font-size: 19px;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF7F50;
}


@import "footer";
@import "header";
@import "container";
